.window {
 background-color: rgba(255, 228, 196, 0.459);
 backdrop-filter: saturate(180%) blur(5px);
 border-radius: 5px;
 padding: 15px;
 z-index: 1;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 95.5%;
 box-shadow: 0px 0px 2px black;
}
.window .windowContent h2 {
 width: 100%;
 padding-bottom: 5px;
 border-bottom: 1px solid black;
}
.window .windowContent {
 position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.window .windowContent i {
 position: absolute;

 top: 0;
 right: 0;
 font-size: 20px;
 cursor: pointer;
}
.window .windowContent .buttonGroup {
 display: flex;
 margin-top: 2em;
 width: 100%;
 justify-content: space-evenly;
}

.window .windowContent .imgViewer {
 position: relative;
}

.window .windowContent .imgViewer .dummyComponent {
 position: absolute;
 height: 100%;
 width: 100%;
 z-index: 2;
 top: 0;
 font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.window .windowContent .imgViewer .dummyComponent .relativeComponent {
 position: relative;
 height: 100%;
 width: 100%;
 font-size: 100%;
}
.window
 .windowContent
 .imgViewer
 .dummyComponent
 .relativeComponent
 .imgWindow {
 position: absolute;
 height: 65%;
 width: 30%;
 top: 55%;
 left: 22.7%;
 transform: translate(-50%, -50%);
}
.window
 .windowContent
 .imgViewer
 .dummyComponent
 .relativeComponent
 .imgWindow
 img {
 height: 100%;
 width: 100%;
 object-fit: cover;
}
.window .windowContent .imgViewer .dummyComponent .relativeComponent .userID {
 position: absolute;
 z-index: 2;
 top: 33%;
 left: 65%;
 transform: translate(0%, -50%);
}
.window .windowContent .imgViewer .dummyComponent .relativeComponent .name {
 position: absolute;
 z-index: 2;
 top: 42.5%;
 left: 65%;
 transform: translate(0%, -50%);
}
.window .windowContent .imgViewer .dummyComponent .relativeComponent .DOB {
 position: absolute;

 z-index: 2;
 top: 54%;
 left: 65%;
 transform: translate(0%, -50%);
}
.window .windowContent .imgViewer .dummyComponent .relativeComponent .Email {
 position: absolute;

 z-index: 2;
 top: 64%;
 left: 65%;
 transform: translate(0%, -50%);
}
.window .windowContent .imgViewer .dummyComponent .relativeComponent .Address {
 position: absolute;

 width: 30%;
 z-index: 2;
 top: 75%;
 left: 65%;
 transform: translate(0%, -50%);
 line-height: 0.8em;
}

@media screen and (max-width: 530px) {
 .window .windowContent .imgViewer {
  width: 100%;
 }
 .window .windowContent .imgViewer img {
  width: 100%;
 }
 .window h2 {
  font-size: 6vw;
 }
 .window .windowContent .imgViewer .dummyComponent .relativeComponent {
  font-size: 2.93vw;
 }
 .window button {
  font-size: 2.93vw;
 }
 .window .windowContent i {
  position: absolute;

  top: 0;
  right: 0;
  font-size: 4vw;
  cursor: pointer;
 }
}
