* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 color: rgb(89, 89, 89);
}
body {
 background: linear-gradient(
  217deg,
  rgba(168, 239, 241, 0.8),
  rgba(112, 164, 170, 0.551)
 );
 width: 100vw;
}
@media screen and (max-height: 100vh) {
 body {
  height: 100vh;
 }
}
.Heading {
 text-align: center;
 font-weight: bold;
 font-size: 8vw;
}

.mainDiv {
 box-shadow: 0 0 5px;
 margin: 10px auto;
 width: 90vw;
 padding: 15px;
 position: relative;
 background: linear-gradient(
  27deg,
  rgba(254, 203, 203, 0.595),
  rgba(206, 160, 160, 0.195)
 );
}
/*                  Main Heading                              */
.headDiv {
 display: flex;
 padding: 0px 5px;
 justify-content: space-between;
 align-items: center;
}
.headDiv .Logo {
 text-align: center;
 font-size: 4em;
 color: rgba(74, 176, 201, 0.98);
}
.headDiv .title {
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 font-weight: 900;
 font-size: 2.3em;
 margin-right: 1em;
 color: rgb(78, 77, 77);
}
.genInfo {
 display: flex;
 flex-direction: column;
 gap: 2em;
}
.genInfo .box {
 display: flex;
 gap: 2em;
 justify-content: space-between;
 align-items: center;
}

/*                  General and organization Information                        */
.genInfo .textInfo,
.orgInfo .textInfo {
 display: flex;
 justify-content: left;
 flex-direction: column;
 gap: 10px;
 width: 20em;
}
.genInfo .textInfo .dob {
 display: flex;
 justify-content: space-between;
 font-weight: 600;
}
.genInfo .textInfo .dob p {
 margin: auto 15px;
}
@media screen and (min-width: 560px) {
 .genInfo .textInfo .dob p {
  margin-left: auto 0px;
 }
}
.genInfo .textInfo input,
.orgInfo .textInfo input {
 padding: 5px 10px;
 outline: none;
}

.genInfo .textInfo input:focus,
.orgInfo .textInfo input:focus {
 background: rgb(194, 194, 194);
 border: 1px dotted black;
}

.genInfo h2 {
 margin-top: 1.5em;
}
/*                  Designing the image section                  */
.mainDiv .aside {
 display: flex;
 width: 60%;
 justify-content: center;
}
.mainDiv .aside .imgInfo {
 display: flex;
 position: relative;
 align-items: center;
 justify-content: space-evenly;
 flex-direction: column;
 padding: 5px;
 height: 15em;
 width: 15em;
 text-align: center;
 border: 3px dotted rgb(49, 207, 207);
 border-radius: 5px;
}
.mainDiv .aside .imgInfo i {
 color: rgb(49, 207, 207);
 font-size: 3em;
}
.mainDiv .aside .imgInfo.active {
 border: none;
 box-shadow: 0px 0px 10px rgb(49, 207, 207);
}
.mainDiv .aside .imgInfo img {
 height: 100%;
 width: 100%;
 object-fit: cover;
}
.mainDiv .aside .imgInfo .crossSign {
 position: absolute;
 top: 0;
 right: 0;
}
.mainDiv .imgInfo .crossSign i {
 padding-top: 0.5em;
 padding-right: 0.5em;
 font-size: 2em;
 cursor: pointer;
}
/*                  Ending Submit button                  */
button {
 background: whitesmoke;
 width: 7em;
 padding: 5px;
 margin: 15px 0px;
 border-radius: 5px;
 border: 1px solid black;
 cursor: pointer;
}
button:hover {
 box-shadow: 0px 0px 3px black;
}
button:active {
 border: 1px solid whitesmoke;
}

/*                    Making Page responsive                */
@media screen and (max-width: 560px) {
 /* Deisgning the heading section */
 .Heading {
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
 }

 .headDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 5px;
 }
 .headDiv .Logo {
  text-align: left;
  font-size: 4em;
  color: rgba(74, 176, 201, 0.98);
 }
 .headDiv .title {
  font-size: 1.7em;
 }
 /* Designing the genInfo Section */
 .mainDiv .genInfo .box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
 }
 .genInfo .box .textInfo h2 {
  font-size: 1.6em;
  text-align: left;
 }
 .genInfo .box .textInfo {
  width: 100%;
 }
 /* Designing the imgInfo section */
 .mainDiv .box .aside {
  align-self: center;
  margin-right: 0px;
  width: 100%;
 }
 /* Ending button section */
 button#submit {
  width: 100%;
 }
}
@media screen and (max-width: 400px) {
 /* Designing the heading section */

 .Heading {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
 }
 .headDiv {
  display: flex;
  flex-direction: column;

  padding: 0px 5px;
 }
 .headDiv .Logo {
  text-align: left;
  font-size: 3em;
  color: rgba(74, 176, 201, 0.98);
 }
 .headDiv .title {
  font-size: 1.3em;
 }
 /* Designing the genInfo Section */
 .mainDiv .genInfo .box {
  display: flex;
  flex-direction: column;
  width: 100%;
 }
 .genInfo .box .textInfo {
  width: 100%;
 }
 .genInfo .box .textInfo h2 {
  font-size: 1.4em;
  text-align: left;
 }
 /* Designing the imgInfo section */
 .mainDiv .box .aside {
  align-self: center;
  width: 100%;
 }
 .mainDiv .box .aside .imgInfo {
  width: 100%;
 }
 button#submit {
  width: 100%;
 }
}
